@use '../abstracts' as ab;
@forward '../vendors/vendors';
@use '../base';
@use '../components' as comps;
@use '../layout';
@use '../themes';
@use '../settings';

main.main_contacto{
    background-image: url(../../img/pictures/footer_pics/containers_wall_1920x1130.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    

    @include ab.breakpoint(tablet){
        padding: 0rem;
        margin-top: 7px;
        background-image: none;
    }

    @include ab.breakpoint(mobile-l){
        padding: 0;
    }
   
    div.hero_footer{       
        display: flex;
        gap: 2rem;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        padding: 4rem;
       
        @include ab.breakpoint(desktop){
            gap: 8rem;
            padding: 4rem 0;           
        }

        @include ab.breakpoint(tablet-horizontal){
            max-width: 87%;
            flex-direction: row;
            align-items: center;
            justify-self: center;  
        }

        @include ab.breakpoint(tablet){
           padding: 2rem;
           display: flex;
           max-width: 100%;
           gap: 2rem;
           background-image: url(../../img/pictures/footer_pics/containers_wall_1920x1130.jpg);
           background-repeat: no-repeat;
           background-size: cover; 
        }

        @include ab.breakpoint(mobile-l){
            max-width: 100%;
            gap: 0.7rem;
            top: 6413px;
            left: 0px;
            position: relative;
            top: 0;
            flex-direction: column;
             background-image: url(../../img/pictures/footer_pics/containers_wall_425x616.jpg);
        }

        p.message{
            font-family: "Assistant", sans-serif;
            font-size: 1.5rem;
            color: white;
            font-style: italic;
            font-weight: 600;
            background-color: #4D4D4D;
            opacity:  0.8;
            padding: 1rem;
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.86);
            max-width: 30%;
            @include ab.breakpoint(desktop){
                font-size: 1.25rem;
            }
            @include ab.breakpoint(tablet-horizontal){
                font-size: 1rem;
            }

            @include ab.breakpoint(tablet){
                max-width: 42%
            }
                

            @include ab.breakpoint(mobile-l){
                max-width: 100%;
                font-size: 0.8rem;
            } 
           
        }

        form{
            background-color:#4D4D4D;
            padding: 1rem;
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.86);
            opacity: 0.8;


            @include ab.breakpoint(tablet){              
                                                
                #mensaje{
                    width: 100%;
                }
            }

            @include ab.breakpoint(mobile-l){
                gap: 0.5rem;
                padding: 1rem;
                max-width: 100%;
               
                flex-direction: column;
                #mensaje{
                    width: 100%;
                }
            }
            
            div{
                display: flex;
                flex-direction: column;
               

                p{
                    font-family: "Assistant", sans-serif;
                    font-size: 1rem;
                    color: white;
                    font-weight: 800;
                }
                
                input, textarea{
                    background-color: white;
                    padding: 2px;
                    border: none;
                    margin-bottom: 1rem;
                }
            }

            button{
                margin-top: 0.5rem;
                font-family: "Assistant", sans-serif;
                font-size: 1rem;
                font-weight: 700;
                color: ab.$gray_2;
                text-decoration: none;
                padding: 16px 48px;        
                background-color: ab.$orange;
                border: none;
                &:hover{
                    cursor: pointer;
                    background-color: white;
                    color: ab.$gray_2;
                }

                @include ab.breakpoint(tablet-horizontal){
                    padding: 8px 32px;
                }                
            }
           
           
        }
       
    }

    section.contacto_container{
        padding: 2rem;
        margin: 6rem 14rem;
        display: flex;
        flex-direction: column;
        justify-self: stretch;
        align-items: center;
        gap: 2rem;
        background-color: ab.$gray_2;
        box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.4);

        @include ab.breakpoint(desktop){
            margin: 3rem 7rem;            
        }

        @include ab.breakpoint(tablet-horizontal){
            margin: 2rem;            
        }

        @include ab.breakpoint(tablet){
            margin: 2rem;
        }

        @include ab.breakpoint(mobile-l){
            margin: 2rem 0;
        }
        
        h3{
            font-family: "Roboto", sans-serif;
            font-size: 2rem;
            color: ab.$orange;
            text-shadow: -7px 3px 9px rgba(0, 0, 0, 0.58);
             @include ab.breakpoint(tablet-horizontal){
                font-size: 1.5rem;
            }
        }

        p{
            font-family: "Assistant", sans-serif;
            color: ab.$gray;
            font-weight: 300;
            font-style: italic;
            font-size: 1.25rem;
            text-align: justify;

            @include ab.breakpoint(tablet-horizontal){
                font-size: 1rem;
            }

            @include ab.breakpoint(mobile-l){
                text-align: center;
            }

            a, strong{
                color: ab.$orange;
            }


        }

        iframe{
            box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.4);
            
            @include ab.breakpoint(tablet-horizontal){
                max-width: 100%;
            }

            @include ab.breakpoint(tablet){
                width: 100%;
            }
        }
    }
}