@use '../abstracts' as ab;
@forward '../vendors/vendors';
@use '../base';
@use '../components' as comps;
@use '../layout';
@use '../themes';
@use '../settings';

//RESPONSIVE 1920px

//header
header{
       
    div.header_container{
        padding: 16px 64px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 800px;
        border-bottom: 0.75rem solid ab.$gray_2;

        @include ab.breakpoint(desktop){
            padding: 16px 32px;
            gap: 500px;
        }
    
        picture{
            max-width: 10%;
            flex: 1;

            img{
                max-width: 100%;
                
            }
        }

        nav.menu{
            flex: 1;
            ul{
                display: flex;
                justify-content: space-evenly;
                gap: 68px;

                @include ab.breakpoint(desktop){
                    gap: 32px;
                    
                }

                li{
                    a{
                        text-decoration: none;
                        font-size: 1.25rem;
                        font-family: "Assistant", sans-serif;
                        color: ab.$gray_2;
                        font-weight: 700;

                        @include ab.breakpoint(desktop){
                            font-size: 1rem;
                        }
                    
                        &:hover{
                            text-decoration: underline;
                            text-decoration-color: ab.$orange;
                            text-decoration-thickness: 3px;
                            text-underline-offset: 5px;
                        }
                    }

                    div{
                        text-align: right;
                       
                        a img{
                            max-width: 30%;
                            border-radius: 100%;
                            &:hover{
                                border: 4px solid ab.$orange;
                            }
                            
                            @include ab.breakpoint(desktop){
                                max-width: 10%;
                            }
                        }
                    } 

                   
                }  

               
            }
        }  
    }

    div.hero_container{
        border-top: 0.5rem solid ab.$orange;

        picture img{
            max-width: 1905px;
        }
        
        div.hero_title{
            position: absolute;
            top: 256px;
            left: 78px;

             @include ab.breakpoint(desktop){
                top: 173px;
                left: 78px;
            }

            h1{
                font-size: 4rem;
                font-weight: 800;
                text-transform: uppercase;
                font-family: "Poppins", sans-serif;
                color: ab.$orange;
                letter-spacing: 5px;
                text-shadow: -7px 3px 9px rgba(0,0,0,0.58);
                span{
                    font-size: 2rem;
                }

                @include ab.breakpoint(desktop){
                    font-size: 3rem;
                    span{
                        font-size: 1.5rem;
                    }
                }

            }

            p{
                font-family: "Roboto", sans-serif;
                font-size: 2rem;
                color: ab.$gray;
                font-style: italic;
                font-weight: 700;
                text-shadow: -7px 3px 9px rgba(0,0,0,0.58);
                text-align: center;
                position: relative;
                top: -15px;
            }
        }
    }
}

main.index_main{
   
    padding-top: 96px;
    @include ab.breakpoint(desktop){
        padding-top: 4rem;
    }

        &::before{
            content: "";
             background-color: ab.$orange;
             position: absolute;
             top: 1180px;
             bottom: 0px;
             right: 0px;
             width: 100%;
             height: 15%;
             z-index: -1;

             @include ab.breakpoint(desktop){
                 top: 907px;
             }

        }

    div.services_container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 75%;
        background-color: white;
        justify-self: center;
        padding-bottom: 6rem;

        @include ab.breakpoint(desktop){
            max-width: 84%;
            padding-bottom: 4rem;
        }
        
        
        article.services{
            
            &.maritimo{
                 background-color: #666666;
            }
             &.terrestre{
                 background-color: #4D4D4D;
            }
             &.aereo{
                 background-color: #404040;
            }

             &.especial{
                 background-color: #333333;
            }
           
            picture{
                
                img{
                    max-width: 100%; 
                }
            }

            div.services_text_container{
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                padding: 0 1.5rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                h2{
                    color: ab.$orange;
                    font-family: "Roboto", sans-serif;
                    font-size: 1.5rem;
                    font-weight: 400;
                    text-align: center;
                    
                }

                p{
                    color: ab.$gray;
                    font-family: "Assistant", sans-serif;
                    font-size: 1.25rem;
                    font-weight: 200;
                    text-align: center;
                    text-align: center;

                    @include ab.breakpoint(desktop){
                        font-size: 1rem;
                    }
                    
                    
                }

                button{
                    background-color: transparent;
                    border: none;
                    a{
                        font-family: "Roboto", sans-serif;
                        font-size: 1rem;
                        text-decoration: none;
                        text-align: center;
                        color: ab.$gray;
                        
                        &:hover{
                            text-decoration: underline;
                            text-decoration-color: ab.$orange;
                            text-decoration-thickness: 3px;
                            text-underline-offset: 5px;

                        }
                    }
                }
            }
        }
       
    }

    div.nosotros_container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: ab.$gray;
        gap: 4rem;
        padding: 4rem;
         
         

        div.text_nosotros_container{
             display: flex;
             flex-direction: column;
             max-width: 30%;
             gap: 4rem;

             @include ab.breakpoint(desktop){
                gap: 1rem;
             }
             
             h2{
                color: ab.$orange;
                font-family: "Roboto", sans-serif;
                font-size: 3rem;
                font-weight: 400;
                text-align: center;
             }

             p{
                color: ab.$gray_2;
                font-family: "Assistant", sans-serif;
                font-size: 1.25rem;
                font-weight: 200;
                text-align: justify;
                span a{
                    font-size: 1rem;
                    color: ab.$orange;
                }

                @include ab.breakpoint(desktop){
                    font-size: 1rem;
                }
                

             }
        }

        picture{
                max-width: 15%;

                @include ab.breakpoint(desktop){
                    max-width: 20%;
                }

                img{
                    max-width: 100%;
                }
            }

    
    }

    div.valores_container{
        background-color: ab.$gray;
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding-bottom: 4rem;

        div.valores{
            display: flex;
            gap: 1rem;
            padding: 1rem;
            align-items: center;
            justify-content: center;
            max-width: fit-content;
            box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.4);
    
            &.calidad{
                background: #666666;
            }
            &.puntualidad{
                background: #4D4D4D;
            }
            &.integridad{
                background: #404040;
            }



            h3{
                font-family: "Assistant", sans-serif;
                font-size: 1.5rem;
                color: ab.$gray;
                font-weight: 300;
            }

            i{
            font-size: 1.5rem;
            color: ab.$orange;
        }
        }

        
    }

    div.servicios_independientes{
        background-color: #666666;
        padding: 4rem;

        

        div.independientes_container{
            display: flex; 
            justify-content: center;
            align-items: center;
            gap: 4rem;
            
            picture{
                max-width: 20%;
                
                
                img{
                    max-width: 100%;
                }
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @include ab.breakpoint(desktop){
                    gap: 1rem;
                }
                li{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    i{
                        color: ab.$orange;
                    }

                    p{
                        color: white;
                        font-family: "Assistant", sans-serif;
                        font-size: 1.25rem;
                        font-weight: 200;
                        @include ab.breakpoint(desktop){
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    section.call_action{
        border-top: 6px solid white;
        picture{
            img{
                filter: grayscale(70%);
                max-width: 1905px;
            }
        }

        div.call_action_text_container{
            padding: 4rem;
            display: flex;
            gap: 4rem;
            max-width: 70%;
            position: absolute;
            top: 3104px;
            left: 300px;
            align-items: center;

            @include ab.breakpoint(desktop){
                top: 2547px;
                left: 151px;
                max-width: 80%;
                padding: 1rem;
                
            }
           
            div.call_text_title{
               display: flex;
               flex-direction: column;
               gap: 2rem;
               h2{
                    color: white;
                    font-family: "Roboto", sans-serif;
                    font-size: 3rem;
                    font-weight: 700;
                    
               }

               p{
                    color: white;
                    font-family: "Assistant", sans-serif;
                    font-size: 1.25rem;
                    font-weight: 500;  
               }
            }

            div.call_text_paragraph{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                h3{
                    color: #333333;
                    font-family: "Roboto", sans-serif;
                    font-size: 2rem;
                    font-weight: 600;
                    font-style: italic;
                }

                button{
                    border: none;
                    background-color: transparent;
                   
                    a{
                        font-family: "Assistant", sans-serif;
                        font-size: 1rem;
                        font-weight: 700;
                        color: #333333;
                        text-decoration: none;
                        padding: 16px 48px;
                        justify-content: center;
                        background-color: ab.$orange;
                        &:hover{
                            background-color: #333333;
                            color: white;
                        }
                    }
                }
            }

        }
    }

    section.mision_vision{
        background-color: white;
        padding: 6rem;

        div.mision_vision_text{
            display: flex;
            gap: 3rem;
            align-items: center;
            justify-content: center;
           

            div.mision_text{
                max-width: 25%;
                box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.86);
                border: 5px solid white;

                @include ab.breakpoint(desktop){
                    max-width: 44%;
                }

                
                &.vision{
                    position: relative;
                    left: 132px;
                }
                
                &.mision{
                    position: relative;
                    left: -132px;
                }

                h3{
                    color: ab.$gray;
                    font-family: "Roboto", sans-serif;
                    font-size: 3rem;
                    font-weight: 400;
                    text-align: center;
                    background-color: ab.$orange;
                    padding: 2rem;
                    @include ab.breakpoint(desktop){
                        padding: 0.5rem;
                        font-size: 2rem;
                    }
                }

                p{
                    color: ab.$gray;
                    font-family: "Assistant", sans-serif;
                    text-wrap: wrap;
                    font-size: 1rem;
                    font-weight: 300;
                    text-align: center;
                    background-color: ab.$gray_2;
                    padding: 2rem;
                    @include ab.breakpoint(desktop){
                        padding: 0.5rem;
                    }
                }
                
            }

            picture{
                    max-width: 25%;
                    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.86);

                    img{
                        max-width: 100%;
                        border-top: 5px solid white;
                        border-left: 5px solid white;
                        border-right: 5px solid white;
                    }
                }
        }
        

    }


}

footer{
    background-color: ab.$gray_2;

    img{
        max-width: 1905px;
    }
    

    div.hero_footer{
        position: absolute;
        top: 5100px;
        left: 260px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
        padding: 0 6rem ;
        max-width: 75%;
        justify-self: center;
        align-items: center;

        @include ab.breakpoint(desktop){
            top: 4029px;
            left: 151px;
            padding: 0;;
        }

        p.message{
            font-family: "Assistant", sans-serif;
            font-size: 1.5rem;
            color: white;
            font-style: italic;
            font-weight: 600;
            background-color: #4D4D4D;
            opacity:  0.8;
            padding: 1rem;
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.86);
            @include ab.breakpoint(desktop){
                font-size: 1.25rem;
            }
           
        }

        form{
            background-color:#4D4D4D;
            padding: 1rem;
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.86);
            opacity: 0.8;
            
            div{
                display: flex;
                flex-direction: column;
               

                p{
                    font-family: "Assistant", sans-serif;
                    font-size: 1rem;
                    color: white;
                    font-weight: 800;
                }
                
                input, textarea{
                    background-color: white;
                    padding: 2px;
                    border: none;
                    margin-bottom: 1rem;
                }
            }

            button{
                margin-top: 0.5rem;
                font-family: "Assistant", sans-serif;
                font-size: 1rem;
                font-weight: 700;
                color: ab.$gray_2;
                text-decoration: none;
                padding: 16px 48px;        
                background-color: ab.$orange;
                border: none;
                &:hover{
                    cursor: pointer;
                    background-color: white;
                    color: ab.$gray_2;
                }
            }
           
           
        }
       
    }

    div.derechos_container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        padding: 3rem;
        @include ab.breakpoint(desktop){
           align-items: center;
        }
                              
        div.derechos{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;         
           
                
                img{
                    max-width: 30%;
                    border-radius: 80px;
                    position: relative;
                    left: 158px;
                    @include ab.breakpoint(desktop){
                        left: 91px;
                        max-width: 45%;
                        
                    }
                    
                    
                }
            

            div.rrss{
                padding: 2rem 0;
                display: flex;
                gap: 3rem;
                
                i{
                    font-size: 2rem;
                    color: ab.$gray;
                    &:hover{
                        color: ab.$orange;
                    }
                }
            }

            p.copyright{
                color: ab.$gray;
                font-size: 0.75rem;
                @include ab.breakpoint(desktop){
                    text-align: center;
                }
                span{
                    color: ab.$orange;
                }
            }
        }

        div.paginas_footer{
            h4{
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                color: ab.$orange;
            }

            ul li a{
                font-family: "Assistant", sans-serif;
                font-size: 0.87rem;
                color: ab.$gray;
                text-decoration: none;
                &:hover{
                    text-decoration:underline;
                    text-decoration-color: ab.$orange;
                }

            }
        }

        div.derechos_servicios{
            display: flex;
            flex-direction: column;
            justify-self: left;
            h4{
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                color: ab.$orange;
            }

            p a{
                font-family: "Assistant", sans-serif;
                font-size: 0.87rem;
                color: ab.$gray;
                text-decoration: none;
                &:hover{
                    text-decoration:underline;
                    text-decoration-color: ab.$orange;
                }
            }
        }

        div.direcciones{
            
            h4{
                margin-bottom: 1rem;
                color: ab.$orange;
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
            }
            div.direcciones_container{
                display: flex;
                gap: 2rem;

                @include ab.breakpoint(desktop){
                    gap: 1rem;
                }

                div.dir{
                    max-width: 100%;
                    p{  font-size: 0.87rem;
                        font-family: "Assistant", sans-serif;
                        color: ab.$gray;
                        strong{
                            color: ab.$orange
                        }
                    }
                }
            }
        }

    }
    p.diseño{
            color: #666666;
            text-align: center;
            padding: 0.5rem;
            span{
                background: linear-gradient(65deg,rgba(246, 128, 25, 1) 0%, rgba(242, 242, 242, 0.78) 72%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 700;
                
            }
        }
     
}
