@use '../abstracts' as ab;
@forward '../vendors/vendors';
@use '../base';
@use '../components' as comps;
@use '../layout';
@use '../themes';
@use '../settings';


main.nosotros_main{
    background-color: ab.$gray;
    border-top: 0.5rem solid ab.$orange;
   
    
    div.historia_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        align-items: center;
        max-width: 80%;
        padding: 4rem;

        @include ab.breakpoint(desktop){
            max-width: 90%;
        }


        @include ab.breakpoint(tablet-horizontal){
            padding: 2rem;
            padding-top: 4rem;
           
        }
           
        div.historia_texto{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: justify;
            
            h1{
                font-family: "Poppins", sans-serif;
                color: ab.$orange;
                font-size: 1.5rem;
                text-shadow: -7px 3px 9px rgba(0,0,0,0.58);
                @include ab.breakpoint(tablet-horizontal){
                    text-align: center;
                }
            }

            p{
                font-family: "Assistant", sans-serif;
                color: ab.$gray_2;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem;
            }
 
        }

        img{
            justify-self: center;
            box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.4);
            max-width: 50%;
            @include ab.breakpoint(desktop){
                max-width: 60%;
            }
            
            @include ab.breakpoint(tablet-horizontal){
                max-width: 80%;
            }
        }       
    }

    div.historia_servicios{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        align-items: center;
        max-width: 80%;
        padding: 4rem;
        gap: 4rem;

        @include ab.breakpoint(desktop){
            max-width: 90%;
            padding-top: 0;
        }

        @include ab.breakpoint(tablet-horizontal){
            max-width: 90%;
            padding: 2rem;
            gap: 2rem;
        }

         img{
            justify-self: center;
            box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.4);
            max-width: 90%;

            @include ab.breakpoint(tablet-horizontal){
                max-width: 100%;
            }     
        }

        div.historia_servicios_texto{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: justify;
            max-width: 80%;

            @include ab.breakpoint(tablet-horizontal){
                max-width: 100%;
            }


            h2{
                font-family: "Roboto", sans-serif;
                color: ab.$gray_2;
                font-size: 1rem;
                
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                @include ab.breakpoint(tablet-horizontal){
                    gap: 0.5rem;
                }

                li{
                    font-size: 1rem;
                    font-family: "Assistant", sans-serif;
                    font-style: italic;
                    font-weight: 300;
                    p{
                        color: ab.$gray_2;
                    }
                    i{
                        color: ab.$orange;
                    }
                }
            }
            
        }
    }

    div.historia_mision_vision{
        background-color: ab.$gray;
        padding-bottom: 4rem;

        div.historia_vision_text{
            background-color: ab.$orange;
            padding: 2rem;
            margin-left: 15rem;
            @include ab.breakpoint(desktop){
                padding: 1.5rem;
            }

             @include ab.breakpoint(tablet-horizontal){
                padding: 1rem;
                margin-left: 84px;
            }
           

            h3{
                
                font-family: "Roboto", sans-serif;
                color: ab.$gray_2;
                font-size: 1.5rem; 
            }

            p{
                font-family: "Assistant", sans-serif;
                color: ab.$gray_2;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem;
                margin-bottom: 1rem;
                @include ab.breakpoint(tablet-horizontal){
                    margin: 0;
                }
            }        
        }

        div.historia_mision_text{
            background-color: ab.$gray_2;
            padding: 2rem;
            margin-left: 32rem;

            @include ab.breakpoint(desktop){
                padding: 1.5rem;
            }
            
            @include ab.breakpoint(tablet-horizontal){
                padding: 1rem;
                margin-left: 168px;
            }   

            h3{
                
                font-family: "Roboto", sans-serif;
                color: ab.$orange;
                font-size: 1.5rem;
                  
            }

            p{
                font-family: "Assistant", sans-serif;
                color: ab.$orange;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem;
                margin-bottom: 1rem;

                @include ab.breakpoint(tablet-horizontal){
                    margin: 0;
                }
            }

        }    
    }

    div.historia_politicas{
        
        padding: 0 15rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        @include ab.breakpoint(desktop){
            padding: 0 8rem;
        }

        @include ab.breakpoint(tablet-horizontal){
            padding: 0 5rem;
        }

        div.politicas{
            
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: start;
            flex: 1;

            &.seguridad{
                grid-column-start: 1;
                grid-row-start: 2;
            }

            &.objetivos{
                grid-column: span 2 / span 2;
                grid-column-start: 1;
                grid-row-start: 3;
            }

            h3{
                font-family: "Roboto", sans-serif;
                color: ab.$orange;
                font-size: 1.5rem;
                text-shadow: -7px 3px 9px rgba(0, 0, 0, 0.58);
                i{
                    color: ab.$gray_2;
                    text-shadow: none;
                    font-size: 2rem;
                };
            }

            p{
              font-family: "Assistant", sans-serif;
                color: ab.$gray_2;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem;
                flex: 1;
                text-align: justify;  
            }

        }

        picture{
            justify-self: center;
            grid-row: span 2 / span 2;
            grid-column-start: 2;
            grid-row-start: 1;

            @include ab.breakpoint(desktop){
                align-self: flex-start;
                justify-self: right;
            }

            @include ab.breakpoint(tablet-horizontal){
               text-align: right;
               align-self: center;
            }

            img{
                max-width: 80%;
                box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.4);
                @include ab.breakpoint(desktop){
                    max-width: 85%;
                }
            }
            
        }
        
    }
 
    div.mensaje_final_nosotros{
        padding: 0 255px 100px 255px;

        @include ab.breakpoint(desktop){
            padding: 0 2rem 2rem 2rem;
        }
        h2{
            text-align: center;
            color: ab.$gray_2;
            font-size: 2rem;
            font-family: "Poppins", sans-serif;
            grid-column: span 2 / span 2;
            grid-row-start: 4;
            text-shadow: -7px 3px 9px rgba(0, 0, 0, 0.58);

            @include ab.breakpoint(tablet-horizontal){
                font-size: 1.5rem;
            }
        }
    }
    
}

