@use '../abstracts' as ab;
@forward '../vendors/vendors';
@use '../base';
@use '../components' as comps;
@use '../layout';
@use '../themes';
@use '../settings';


header{
    div.header_container{
        padding: 32px 64px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 800px;
        border-top: 0.5rem solid ab.$orange;
        border-bottom: 0.5rem solid ab.$black;
        
        picture{
            max-width: 10%;
            flex: 1;
            img{
                max-width: 100%;
            }
        }
        nav.menu{
            ul{
                display: flex;
                justify-content: space-evenly;
                gap: 68px;
                li a{
                    text-decoration: none;
                    font-size: 1.25rem;
                    font-family: "Assistant", sans-serif;
                    color: ab.$gray_2;
                    font-weight: 700;
                    &:hover{
                        text-decoration: underline;
                        text-decoration-color: ab.$orange;
                        text-decoration-thickness: 3px;
                        text-underline-offset: 5px;
                    }
                    
                    
                }
            }
        }
    }
}

main.nosotros_main{
    background-color: ab.$gray;
    
    div.historia_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        align-items: center;
        max-width: 80%;
        padding: 4rem;
           
        div.historia_texto{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: justify;
            
           
           
            

            h1{
                font-family: "Poppins", sans-serif;
                color: ab.$orange;
                font-size: 3rem;
                text-shadow: -7px 3px 9px rgba(0,0,0,0.58);
            }

            p{
                font-family: "Assistant", sans-serif;
                color: ab.$gray_2;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem;
            }
 
        }

        img{
            justify-self: center;
            box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.4);
            max-width: 50%;
            
        }
  
    }

    div.historia_servicios{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        align-items: center;
        max-width: 80%;
        padding: 4rem;
        gap: 4rem;

         img{
            justify-self: center;
            box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.4);
            max-width: 90%;
            
        }

        div.historia_servicios_texto{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: justify;
            max-width: 80%;

            h2{
                font-family: "Roboto", sans-serif;
                color: ab.$gray_2;
                font-size: 1rem;
                
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li{
                    font-size: 1rem;
                    font-family: "Assistant", sans-serif;
                    font-style: italic;
                    font-weight: 300;
                    p{
                        color: ab.$gray_2;
                    }
                    i{
                        color: ab.$orange;
                    }
                }
            }
            
        }
    }

    div.historia_mision_vision{
        background-color: ab.$gray;
        padding-bottom: 4rem;

        div.historia_vision_text{
            background-color: ab.$orange;
            padding: 2rem;
            margin-left: 15rem;
           

            h3{
                
                font-family: "Roboto", sans-serif;
                color: ab.$gray_2;
                font-size: 1.5rem;
                
                
               
            }

            p{
                font-family: "Assistant", sans-serif;
                color: ab.$gray_2;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem;
                
               
            }

           
        }

        div.historia_mision_text{
            background-color: ab.$gray_2;
            padding: 2rem;
            margin-left: 32rem;
            
           

            h3{
                
                font-family: "Roboto", sans-serif;
                color: ab.$orange;
                font-size: 1.5rem;
                  
            }

            p{
                font-family: "Assistant", sans-serif;
                color: ab.$orange;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem; 
            }
        }    
    }

    div.historia_politicas{
        
        padding: 4rem 15rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        

        div.politicas{
            
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: start;
            flex: 1;

            &.seguridad{
                grid-column-start: 1;
                grid-row-start: 2;
            }

            &.objetivos{
                grid-column: span 2 / span 2;
                grid-column-start: 1;
                grid-row-start: 3;
            }

            h3{
                font-family: "Roboto", sans-serif;
                color: ab.$orange;
                font-size: 1.5rem;
                text-shadow: -7px 3px 9px rgba(0, 0, 0, 0.58);
                i{
                    color: ab.$gray_2;
                    text-shadow: none;
                    font-size: 2rem;
                };
            }

            p{
              font-family: "Assistant", sans-serif;
                color: ab.$gray_2;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem;
                flex: 1;
                text-align: justify;  
            }

        }

        picture{
            justify-self: center;
            grid-row: span 2 / span 2;
            grid-column-start: 2;
            grid-row-start: 1;
            img{
                max-width: 80%;
                box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.4);
            }
            
        }

        div.objetivos{
            grid-row: 3;
            grid-column: 1 /span 2;

        }

        h2{
            text-align: center;
            color: ab.$gray_2;
            font-size: 2rem;
            font-family: "Poppins", sans-serif;
            grid-column: span 2 / span 2;
            grid-row-start: 4;
            text-shadow: -7px 3px 9px rgba(0, 0, 0, 0.58);
            background-image: url(../../img/deco/barco.svg);
            background-repeat: no-repeat;
            background-position: center 162px;
            
        }
    }
}

