@use '../abstracts' as ab;
@forward '../vendors/vendors';
@use '../base';
@use '../components' as comps;
@use '../layout';
@use '../themes';
@use '../settings';


main.servicios_main{
    background-color: white;
    margin: 6rem 14rem;
    
    @include ab.breakpoint(desktop){
        margin: 4rem 7rem;
    }

    @include ab.breakpoint(tablet-horizontal){
        margin: 2rem;
    }

    @include ab.breakpoint(mobile-l){
        margin: 0rem;
    }

    h2{
        padding: 0rem;
        font-family: "Poppins", sans-serif;
        font-size: 2.5rem;
        color: ab.$orange;
        margin-bottom: 3rem;
        
        @include ab.breakpoint(desktop){
            font-size: 2.5rem;
            padding: 0;
            margin-bottom: 1rem;
        }
        @include ab.breakpoint(tablet-horizontal){
            font-size: 2rem;
            padding: 0;
        }

        @include ab.breakpoint(mobile-l){
            padding: 1rem;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    section.servicios_servicios_container{
        
        article.servicios{
            
            padding: 4rem;
            padding-right: 164px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-self: center;

            @include ab.breakpoint(tablet-horizontal){
                padding: 2rem;
                padding-right: 6rem;
            }

            @include ab.breakpoint(tablet){
                padding: 2rem;
                padding-right: 4rem;
            }

            @include ab.breakpoint(mobile-l){
                max-width: 100%;
                padding: 2rem;
                display: flex;
                flex-wrap: wrap;
            }

            picture img{
                box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.4);
                max-width: 116%;
                @include ab.breakpoint(desktop){
                    max-width: 117%;
                }
                
                @include ab.breakpoint(tablet){
                    max-width: 150%;
                }

                @include ab.breakpoint(mobile-l){
                    max-width: 100%;
                }                                
            }

            div.sercicios_page_text_container{
                background-color: white;
                padding: 2rem;
                position: relative;
                box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.4);
                
                @include ab.breakpoint(tablet-horizontal){
                    padding: 1rem;                    
                }

        
                &.text_maritimo, &.text_aereo{
                    left: 14px;
                    @include ab.breakpoint(tablet-horizontal){
                        left: 0;
                    }

                     @include ab.breakpoint(tablet){
                        left: 0;
                        z-index: 1;
                                        
                    }
                }

                &.text_terrestre, &.text_especiales{
                    right: -95px;
                    
                    @include ab.breakpoint(tablet-horizontal){
                        right: -30px;
                    }
                    
                    @include ab.breakpoint(tablet){
                        left: 34px;
                        top: -3px;
                    }

                    @include ab.breakpoint(mobile-l){
                        left: 0px;
                        top: -4px;
                    }
                }

                h2{
                    font-family: "Roboto", sans-serif;
                    color: ab.$orange;
                    font-size: 2rem;
                    
                    @include ab.breakpoint(tablet){
                        font-size: 1.5rem;
                    }

                     @include ab.breakpoint(tablet-horizontal){
                        font-size: 1.5rem;
                    }

                    @include ab.breakpoint(mobile-l){
                        text-align: center;
                    }
                }

                p{
                    font-family: "Assistant", sans-serif;
                    color: ab.$gray_2;
                    font-weight: 300;
                    font-style: italic;
                    font-size: 1.25rem;
                    text-align: justify;

                    @include ab.breakpoint(desktop){
                        font-size: 1.2rem;
                    }

                     @include ab.breakpoint(tablet-horizontal){
                        font-size: 1rem;
                    }
                }
            }

            &.serv_maritimo, &.serv_aereo{
                background-color: ab.$orange;

                picture{
                    @include ab.breakpoint(tablet){
                        position: relative;
                        left: -112px;
                        z-index: 0;
                    }

                    @include ab.breakpoint(mobile-l){
                        left: 0;
                    }
                    
                }
            }

            &.serv_terrestre {
                background-color: ab.$gray_2;
                @include ab.breakpoint(tablet-horizontal){
                    padding-right: 64px;
                }

                @include ab.breakpoint(mobile-l){
                    padding-right: 2rem;
                }
              
                picture.terrestre_picture{
                    position: relative;
                    left: 14px;
                    @include ab.breakpoint(tablet-horizontal){
                        left: 36px;
                    }
                    
                    @include ab.breakpoint(tablet){
                        left: 0;            
                    }    
                }
            }

            &.serv_especiales{
                background-color: ab.$gray_2;
                @include ab.breakpoint(tablet-horizontal){
                    padding-right: 64px;
                }
                
                @include ab.breakpoint(mobile-l){
                    padding-right: 2rem;
                }

                picture.especiales_picture{
                    position: relative;
                    left: 14px;
                    @include ab.breakpoint(tablet-horizontal){
                        left: 36px;
                    }

                    @include ab.breakpoint(tablet){
                        left: 0;            
                    }                       
                }
            }

        }
    }
}