@use '../abstracts' as ab;
@forward '../vendors/vendors';
@use '../base';
@use '../components' as comps;
@use '../layout';
@use '../themes';
@use '../settings';


main.servicios_main{
    background-color: ab.$gray;
    h1{
        padding: 4rem;
        font-family: "Poppins", sans-serif;
        font-size: 4rem;
        color: ab.$orange;
        text-shadow: -7px 3px 9px rgba(0,0,0,0.58);
    }

   article.servicios{
        padding: 4rem;
        padding-right: 164px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;

        details summary{
             margin-bottom: 1rem;
                list-style: none;
                cursor: pointer;
                color: ab.$orange;
                font-family: "Assistant", sans-serif;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem;
        }


        picture img{
            box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.4);
        }

        div.sercicios_page_text_container{
            background-color: white;
            padding: 2rem;
            position: relative;
            box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.4);
            
            &.text_maritimo, &.text_aereo{
                left: 100px;
            }

            h2{
                font-family: "Roboto", sans-serif;
                color: ab.$orange;
                font-size: 2rem;
                text-shadow: -7px 3px 9px rgba(0, 0, 0, 0.58);
            }

            p{
                font-family: "Assistant", sans-serif;
                color: ab.$gray_2;
                font-weight: 300;
                font-style: italic;
                font-size: 1.25rem;
                text-align: justify;
            }
        }

        &.serv_maritimo, &.serv_aereo{
            background-color:white;
        }

        &.serv_terrestre {
            
            picture.terrestre_picture{
                position: relative;
                left: 100px;
            }
        }

        &.serv_especiales{
            picture.especiales_picture{
                position: relative;
                left: 100px;
            }
        }

   

       
    


    }
}