//Todos los valores por defecto que deseo que tenga la pagina


html *{
    
    box-sizing: border-box;
   
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
} 